<nav>
        <div class="site-title">
            <a href="/"><h1>Alex's Blog</h1></a>
            <p>A site made by Alex</p>
        </div>
        <ul>
            <a href="/">Blogs</a>
            <a href="/about">About</a>
            <a href="/blogs/create">New Blog</a>
        </ul>
</nav>