<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex's Blog | <%= title%></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Alex's Blog</h1></a>
            <p>A site made by Alex</p>
        </div>
        <ul>
            <a href="/">Blogs</a>
            <a href="/about">About</a>
            <a href="/blogs/create">New Blog</a>
        </ul>
    </nav>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus laboriosam ullam saepe perspiciatis, adipisci architecto nisi odio illo. Deleniti consectetur, ullam voluptates excepturi sequi ducimus fugit in repellendus assumenda nam.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus nobis numquam est harum vel modi magnam at corporis neque assumenda quo saepe rem consequuntur temporibus eaque debitis ducimus, officiis autem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus perferendis nam consectetur minima atque consequuntur aliquid incidunt eveniet ad ducimus qui recusandae voluptatem debitis tempora, voluptatum sit culpa necessitatibus quasi.</p>
    </div>
</body>
</html>